@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
body {
    /* font-family: sans-serif; */
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 0.8rem;
  }
  
  button:hover {
    background-color: #3e8e41; /* Darker green */
  }

  .container {
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 3rem;
    border-radius: .5rem;
}

.container form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
   
}

.container h1 {
    font-size: 1.5rem;
    margin: 2rem;
} 




  